nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.fixture-border{
  border-style:solid;
  border-color: #ef6464; 
  border-radius: 60px;
   margin-bottom: 10px;
  
}