{% extends "layout.html" %}

{% block title %}
Help
{% endblock %}

{% block main %}
<h3><u>Help section</u></h3>
<div class="container">
    <div class="row">
      <div class="col-sm">
       Are you a footbal enthousiast ? <br> This site shows upcoming
       football matches of your league of choice and lets you give a prediction on the outcome.<br> Give it your best shot and earn points for correct guesses !
       <br><br>Only the Belgian national Pro League for now.<br> Additional leagues will be available in with futures updates.
      </div>

    </div>
  </div>
{%endblock%}