{% extends "layout.html" %}

{% block title %}
Help
{% endblock %}

{% block main %}
<h3><u>Help section</u></h3>
<div class="container">
    <div class="row">
      <div class="col-sm">
       <p>Are you a footbal enthousiast ? <br> This site shows upcoming
       football matches of your league of choice and lets you give a prediction on the outcome.<br> Give it your best shot and earn points for correct guesses !
       <ul>
         <li>In Home Page, you can see a list of the next fixtures for the selected league. You can place a guess by clicking the green button "Place bet"</li>
         <li>In My Predictions, you can see all the guesses you've made. Once the match is finished "To be Defined" will be replaced by the actual score.</li>
            </ul>
      </p>
       <p><b>This is not a betting website, you won't be able to spend any money here. You make guesses for free and earn virtual points, that's it.</b></p>
      </div>

    </div>
  </div>
{%endblock%}