{% extends "layout.html" %}

{% block title %}
Help
{% endblock %}

{% block main %}
<h3><u>Help section</u></h3>
<div class="container">
    <div class="row">
      <div class="col-sm">
       <p>Are you a footbal enthousiast ? <br> This site shows upcoming
       football matches of your league of choice and lets you give a prediction on the outcome.<br> Give it your best shot and earn points for correct guesses !</p>
       <p><b>This is not a betting website, you won't be able to spend any money here. You make guesses for free and earn virtual points, that's it.</b></p>
      </div>

    </div>
  </div>
{%endblock%}