{% extends "layout.html" %}

{% block title %}
    Upcoming matches in Bundesliga
{% endblock %}

{% block main %}
<h1>Welcome to Predictor ⚽️ ! </h1>
<h3>Upcoming matches</h3>
<table style="width:100%">
  <tr> 
    <th>Date</th>
    <th>Venue</th>
    <th>Team Home</th>
    <th>Team Away</th>
  </tr>
  {% for fixture in fixtures %}
  <tr>
    <th>{{ fixture["event_date"] }}</th>
    <th>{{ fixture["venue"] }}</th>
    <th>{{ fixture["homeTeam"] }}</th>
    <th>{{ fixture["awayTeam"] }}</th>
  </tr>
{% endfor %}

</table>

{% endblock %}
