{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block main %}
<h1>Welcome to Predictor ⚽️ ! </h1> <br>
<div style="margin-bottom: 20px;" id='league_info'>
  <img id='league_logo' src="https://media.api-football.com/leagues/8.png" alt="League logo">
</div>
{% for fixture in fixtures%}
<div class="container" style="border-style:solid;border-color: #ef6464; border-radius: 60px; margin-bottom: 10px;" >
  <div class="row">
    <div class="col-sm">
      {{fixture["homeTeam"]}}
    </div>
    <div class="col-sm-2">
      <span>VS.</span>
    </div>
    <div class="col-sm">
      {{fixture['awayTeam']}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <span style="font-size: 70%;">
        {{fixture['event_date']}}
      {% if fixture["venue"] != None %}
      <br> Stadium : {{fixture['venue']}}
      {% endif %}
      </span>
    </div>
  </div>
  <div class="row">
    <div style="margin: 4px;" class="col-sm">
      <form action="/placebet" method="post" id="form_bet{{fixture['fixture_id']}}">
        <input hidden='true' name="id" value="{{fixture['fixture_id']}}"/>
      </form >
      <button class="btn btn-success" type="submit" form="form_bet{{fixture['fixture_id']}}">Place bet</button>
    </div>
  </div>
</div>
{% endfor %}
</div>



</table>

{% endblock %}
