{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<h1>You can see here a list of all your predictions.</h1>
<table style="width:100%">
    <tr> 
      <th hidden>ID</th>
      <th>Your prediction</th>
      <th>Final score</th>
      <th>Team Home</th>
      <th>Team Away</th>
      <th>Time</th>

    </tr>
    {%for bet in bets %}
    <tr>
      <th hidden>{{bet['fixture_id']}}</th>
      <th>{{bet['guess_score']}}</th>
      {% if bet["final_score"] %}
      <th><b>{{bet["final_score"]}}</b></th>
      {% else %}
      <th>To be defined</th>
      {% endif %}
      <th>{{bet['homeTeam']}}</th>
      <th>{{bet['awayTeam']}}</th>
      <th>{{bet['event_date']}}</th>

    </tr>
    {% endfor %}
  </table>
  <h5>You have {{points}} point(s).</h5>
{% endblock %}
