{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<h1>Place your bets here.</h1>
<br>
<div class="container fixture-border">
  <div class="row">
    <div class="col-sm-5">
      <b>{{homeTeam_name}}</b>
    </div>
    <div class="col-sm-2">
      vs.
    </div>
    <div class="col-sm-5">
      <b>{{awayTeam_name}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Location : {{venue}}<br>
      Match begins at {{event_date}}. <br>

    </div>
  </div>
</div>
<form action="/savebet" method="POST" id='form_bet'>
  <input hidden='true' value={{fixture_id}} name="fixture_id">
  <input style="text-align: center; background-color:#F8F9FA ;" type="number" name="home_score" value=2 min="0" max="99" required> - 
  <input style="text-align: center;background-color:#F8F9FA; " type="number"name="away_score" min="0" max="99" value=2 required>
  </form><br>
  <button class="btn btn-primary" form="form_bet" type="submit">Submit this bet</button>
  

{% endblock %}
